* {
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  cursor: url("../images/cursor.svg") 2 2, auto;
}
h1 {
  color: #1e1e1e;
  font-family: "Offbit";
  font-size: 5vw;
  line-height: vw;
  -webkit-text-stroke-width: 0.7vw;
  -webkit-text-stroke-color: #ffffff;
  paint-order: stroke fill;
}

h2 {
  color: #f4f4f4;
  font-family: "Offbit";
  font-size: 1.8vw;
  line-height: 2vw;
}
p {
  color: #f4f4f4;
  font-family: "Normalidad";
  font-size: 1vw;
  line-height: 1.5vw;
}
/* 1 */
.section-1 {
  width: 100vw;
}
.section-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 83.13vw;
  height: 46.47vw;
  background-image: url("../images/lace1.svg");
  background-size: cover;
}
.bacgroundImgS-1 {
  overflow: hidden;
}
#H1S-1 {
  text-align: center;
  margin-top: 8vw;
  transition: -webkit-text-stroke-color 2s ease;
}
#H1S-1:hover {
  transition: -webkit-text-stroke-color 0.7s ease;
  -webkit-text-stroke-color: #009667;
}
.animationCubes-1 {
  margin-top: -42vw;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.animationCubes-1 div {
  width: 0.8vw;
  height: 0.8vw;
  background-color: #009667;
}
.cube-1 {
  animation: cubes-go-in-line 14s infinite ease;
}
.cube-2 {
  animation: cubes-go-in-line 14s infinite ease-in;
}
.cube-3 {
  animation: cubes-go-in-line 14s infinite ease-in-out;
}
.cube-4 {
  animation: cubes-go-in-line 14s infinite ease-out;
}
.cube-5 {
  animation: cubes-go-in-line 14s infinite linear;
}
#cube {
  margin-top: -2vw;
  width: 40.33vw;
}
/* 2 */
.section-2 {
  margin-top: 10vw;
  width: 100vw;
  height: 3.28vw;
  background-color: #009667;
  display: flex;
  flex-direction: row;
}
.run-stroke-1 {
  overflow: hidden;
}
.run-stroke-1 h2 {
  margin-top: 0.8vw;
  width: 200%;
  animation: marquee 8s infinite linear;
}
.run-stroke-1:hover h2 {
  animation-play-state: paused;
}
.run-stroke-1 span {
  transition: color 1s ease;
  padding-right: 6.68vw;
}
.run-stroke-1 span:hover {
  transition: color 0.4s ease;
  color: #1e1e1e;
}
/* 3 */
.section-3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.section-3 img {
  width: 131.33vw;
  height: 7.58vw;
}
/* 4 */
.section-4 {
  background-color: #1e1e1e;
  width: 100vw;
  height: 61.23vw;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.Img1S-4,
.Img2S-4 {
  width: 100vw;
}
.Img2S-4 {
  position: relative;
  margin-top: -61vw;
  animation: flowers-lines 4s infinite ease;
}
.Img3S-4 {
  width: 104vw;
  position: relative;
  margin-top: -63vw;
  animation: flowers-blocks 4s infinite ease;
}
/* 5 */
.section-5 {
  width: 100vw;
  height: 3.28vw;
  background-color: #009667;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.run-stroke-2 {
  overflow: hidden;
}
.run-stroke-2 h2 {
  margin-top: 0.8vw;
  width: 200%;
  animation: marquee 8s infinite linear;
}
.run-stroke-2:hover h2 {
  animation-play-state: paused;
}
.run-stroke-2 span {
  transition: color 1s ease;
  padding-right: 6.68vw;
}
.run-stroke-2 span:hover {
  transition: color 0.4s ease;
  color: #1e1e1e;
}
/* 7 */
.section-7 {
  width: 100vw;
  height: 53.23vw;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.section-7 div {
  width: 80vw;
}
.section-7 img {
  position: relative;
  width: 80vw;
  height: 51vw;
}
.section-7 h1 {
  position: relative;
  margin-top: -12.5vw;
}
#H1S-7 {
  text-align: center;
  transition: -webkit-text-stroke-color 2s ease;
}
#H1S-7:hover {
  transition: -webkit-text-stroke-color 0.7s ease;
  -webkit-text-stroke-color: #009667;
}
.animationCubes-2 {
  position: relative;
  width: 100vw;
  margin-top: -40vw;
  display: flex;
  flex-direction: column;
}
.animationCubes-2 div {
  width: 2vw;
  height: 2vw;
  background-color: #009667;
}
.animationCubes-2 div:hover {
  animation-play-state: paused;
}
.cube-1 {
  animation: cubes-go-in-line 14s infinite ease;
}
.cube-2 {
  animation: cubes-go-in-line 14s infinite ease-in;
}
.cube-3 {
  animation: cubes-go-in-line 14s infinite ease-in-out;
}
.cube-4 {
  animation: cubes-go-in-line 14s infinite ease-out;
}
.cube-5 {
  animation: cubes-go-in-line 14s infinite linear;
}
/* 8 */
.section-8 {
  margin-top: -5vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.section-8 img {
  width: 131.33vw;
  height: 7.58vw;
}
/* 9 */
.section-9 {
  margin-top: -0.3vw;
  width: 100vw;
  height: 3.28vw;
  background-color: #009667;
  display: flex;
  flex-direction: row;
}
/* 10 */
.section-10 {
  width: 100vw;
  height: 41.72vw;
  background-color: #5c6160;
  display: flex;
  flex-direction: row;
}
.section-10-1 {
  background-color: #1e1e1e;
  width: 57vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divS-10 {
  margin-top: 3vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5vw;
}
.divS-10 div {
  width: 6.875vw;
  height: 6.875vw;
  border: #ffffff solid 0.4vw;
}
.divS-10-1 {
  background-color: #009667;
}
.divS-10-2 {
  background-color: #1e1e1e;
}
.divS-10-3 {
  background-color: #c6c6c6;
}
.imgS-10-1 {
  margin-top: 2.5vw;
  width: 26.02vw;
}
.imgS-10-2 {
  margin-top: -24vw;
  width: 43.83vw;
}
.section-10-2 {
  background-color: #1e1e1e;
  width: 43vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-10-2 div {
  margin-top: 3vw;
}
#h2S-10-2 {
  margin-top: 3.5vw;
  margin-bottom: 1.5vw;
}
#pS-10-2 {
  margin-top: 4.5vw;
}
.section-10-2 img {
  position: relative;
  margin-left: -100%;
  margin-top: -37vw;
  width: 0.5vw;
  height: 41.72vw;
}
