* {
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  cursor: url("../images/cursor.svg") 2 2, auto;
}
h1 {
  color: #1e1e1e;
  font-family: "Offbit";
  font-size: 5vw;
  line-height: vw;
  -webkit-text-stroke-width: 0.7vw;
  -webkit-text-stroke-color: #ffffff;
  paint-order: stroke fill;
}

h2 {
  color: #f4f4f4;
  font-family: "Offbit";
  font-size: 1.8vw;
  line-height: 2vw;
}
p {
  color: #f4f4f4;
  font-family: "Normalidad";
  font-size: 1vw;
  line-height: 1.5vw;
}
/* 1 */
.section-1 {
  width: 100vw;
}
.section-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 83.13vw;
  height: 46.47vw;
  background-image: url("../images/lace1.svg");
  background-size: cover;
}
.bacgroundImgS-1 {
  overflow: hidden;
}
#H1S-1 {
  text-align: center;
  margin-top: 8vw;
  transition: -webkit-text-stroke-color 2s ease;
}
#H1S-1:hover {
  transition: -webkit-text-stroke-color 0.7s ease;
  -webkit-text-stroke-color: #009667;
}
.animationCubes-1 {
  margin-top: -42vw;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.animationCubes-1 div {
  width: 2vw;
  height: 2vw;
  background-color: #009667;
}
.cube-1 {
  animation: cubes-go-in-line 14s infinite ease;
}
.cube-2 {
  animation: cubes-go-in-line 14s infinite ease-in;
}
.cube-3 {
  animation: cubes-go-in-line 14s infinite ease-in-out;
}
.cube-4 {
  animation: cubes-go-in-line 14s infinite ease-out;
}
.cube-5 {
  animation: cubes-go-in-line 14s infinite linear;
}
#cube {
  margin-top: -2vw;
  width: 40.33vw;
}
/* 2 */
.section-2 {
  margin-top: 10vw;
  width: 100vw;
  height: 3.28vw;
  background-color: #009667;
  display: flex;
  flex-direction: row;
}
.run-stroke-1 {
  overflow: hidden;
}
.run-stroke-1 h2 {
  margin-top: 0.8vw;
  width: 200%;
  animation: marquee 8s infinite linear;
}
.run-stroke-1:hover h2 {
  animation-play-state: paused;
}
.run-stroke-1 span {
  transition: color 1s ease;
  padding-right: 6.68vw;
}
.run-stroke-1 span:hover {
  transition: color 0.4s ease;
  color: #1e1e1e;
}
/* 3 */
.section-3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.section-3 img {
  width: 131.33vw;
  height: 7.58vw;
}
/* 4 */
.section-4 {
  background-color: #1e1e1e;
  width: 100vw;
  height: 61.23vw;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.Img1S-4,
.Img2S-4 {
  width: 100vw;
}
.Img2S-4 {
  position: relative;
  margin-top: -61vw;
  animation: flowers-lines 4s infinite ease;
}
.Img3S-4 {
  width: 104vw;
  position: relative;
  margin-top: -63vw;
  animation: flowers-blocks 4s infinite ease;
}
.d1 {
  position: absolute;
  margin-top: 2vw;
  margin-left: -40vw;
  z-index: 1000;
}
.d2 {
  position: absolute;
  margin-top: -5vw;
  margin-left: 50vw;
  z-index: 1000;
}
.d3 {
  position: absolute;
  margin-top: 25vw;
  margin-left: 50vw;
  z-index: 1000;
}
.d4 {
  position: absolute;
  margin-top: 25vw;
  margin-left: -30vw;
  z-index: 1000;
}
.d5 {
  position: absolute;
  margin-top: 35vw;
  margin-left: -10vw;
  z-index: 1000;
}
.q1,
.q2,
.q3,
.q4,
.q5 {
  width: 3.28vw;
}
.q-1,
.q-2,
.q-3,
.q-4,
.q-5 {
  width: 18.52vw;
  opacity: 0;
}

.q1:hover ~ .q-1 {
  opacity: 1;
}
.q2:hover ~ .q-2 {
  opacity: 1;
}
.q3:hover ~ .q-3 {
  opacity: 1;
}
.q4:hover ~ .q-4 {
  opacity: 1;
}
.q5:hover ~ .q-5 {
  opacity: 1;
}
/* 5 */
.section-5 {
  width: 100vw;
  height: 3.28vw;
  background-color: #009667;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.run-stroke-2 {
  overflow: hidden;
}
.run-stroke-2 h2 {
  margin-top: 0.8vw;
  width: 200%;
  animation: marquee 8s infinite linear;
}
.run-stroke-2:hover h2 {
  animation-play-state: paused;
}
.run-stroke-2 span {
  transition: color 1s ease;
  padding-right: 6.68vw;
}
.run-stroke-2 span:hover {
  transition: color 0.4s ease;
  color: #1e1e1e;
}
/* 7 */
.section-7 {
  width: 100vw;
  height: 53.23vw;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.section-7 div {
  width: 80vw;
}
.section-7 img {
  position: relative;
  width: 80vw;
  height: 51vw;
}
.section-7 h1 {
  position: relative;
  margin-top: -12.5vw;
}
#H1S-7 {
  text-align: center;
  transition: -webkit-text-stroke-color 2s ease;
}
#H1S-7:hover {
  transition: -webkit-text-stroke-color 0.7s ease;
  -webkit-text-stroke-color: #009667;
}
.animationCubes-2 {
  position: relative;
  width: 100vw;
  margin-top: -40vw;
  display: flex;
  flex-direction: column;
}
.animationCubes-2 div {
  width: 2vw;
  height: 2vw;
  background-color: #009667;
}
.animationCubes-2 div:hover {
  animation-play-state: paused;
}
.cube-1 {
  animation: cubes-go-in-line 14s infinite ease;
}
.cube-2 {
  animation: cubes-go-in-line 14s infinite ease-in;
}
.cube-3 {
  animation: cubes-go-in-line 14s infinite ease-in-out;
}
.cube-4 {
  animation: cubes-go-in-line 14s infinite ease-out;
}
.cube-5 {
  animation: cubes-go-in-line 14s infinite linear;
}
/* 8 */
.section-8 {
  margin-top: -5vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.section-8 img {
  width: 131.33vw;
  height: 7.58vw;
}
/* 9 */
.section-9 {
  margin-top: -0.3vw;
  width: 100vw;
  height: 3.28vw;
  background-color: #009667;
  display: flex;
  flex-direction: row;
}
/* 10 */
.section-10 {
  width: 100vw;
  height: 41.72vw;
  background-color: #5c6160;
  display: flex;
  flex-direction: row;
}
.section-10-1 {
  background-color: #1e1e1e;
  width: 57vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divS-10 {
  margin-top: 3vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5vw;
}
.divS-10 div {
  width: 6.875vw;
  height: 6.875vw;
  border: #ffffff solid 0.4vw;
}
.divS-10-1 {
  background-color: #009667;
}
.divS-10-2 {
  background-color: #1e1e1e;
}
.divS-10-3 {
  background-color: #c6c6c6;
}
.imgS-10-2 {
  margin-top: -24vw;
  width: 43.83vw;
}
.imgS-10-1 {
  margin-top: 2.5vw;
  width: 26.02vw;
}
.section-10-2 {
  background-color: #1e1e1e;
  width: 43vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-10-2 div {
  margin-top: 3vw;
}
#h2S-10-2 {
  margin-top: 3.5vw;
  margin-bottom: 1.5vw;
}
#pS-10-2 {
  margin-top: 4.5vw;
}
.section-10-2 img {
  position: relative;
  margin-left: -100%;
  margin-top: -37vw;
  width: 0.5vw;
  height: 41.72vw;
}
/* 11 */
.section-11 {
  width: 100vw;
  height: 3.28vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.run-stroke-22 {
  overflow: hidden;
}
.run-stroke-22 h2 {
  color: #009667;
  margin-top: 0.8vw;
  width: 200%;
  animation: marquee 8s infinite linear;
}
.run-stroke-22:hover h2 {
  animation-play-state: paused;
}
.run-stroke-22 span {
  transition: color 1s ease;
  padding-right: 6.68vw;
}
.run-stroke-22 span:hover {
  transition: color 0.4s ease;
  color: #1e1e1e;
}
/* 12 */
.section-12 {
  width: 100vw;
  height: 20vw;
  background-color: #009667;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.section-12 div {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5vw;
  padding-left: 3vw;
  margin-top: 5vw;
}
#h1S12 {
  color: #009667;
  transition: color 2s ease;
}
#h1S12:hover {
  transition: color 0.7s ease;
  color: #1e1e1e;
}
.section-12 h1 {
  transition: color 2s ease;
}
.section-12 h1:hover {
  transition: color 0.7s ease;
  color: #009667;
}
#h1S12-1 {
  opacity: 20%;
}
#h1S12-2 {
  opacity: 60%;
}
/* 13 */
.imgS13-1 {
  width: 98vw;
  margin-top: 3vw;
  align-items: center;
}
.section-13 {
  margin-top: -50vw;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#imgS-13-11 {
  position: relative;
  width: 40vw;
  animation: round-text 12s infinite linear;
}
#imgS-13-22 {
  position: relative;
  width: 40vw;
  margin-left: -45vw;
  margin-top: -35vw;
  animation: round-text 14s infinite linear;
}
#imgS-13-33 {
  position: relative;
  width: 40vw;
  margin-left: 40vw;
  margin-top: -40vw;
  animation: round-text 14s infinite linear;
}
.section-8-13 {
  margin-top: -30vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.section-8-13 img {
  width: 131.33vw;
  height: 7.58vw;
}
.rows {
  margin-top: -0.5vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.row-1 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-1 div {
  width: 10vw;
  height: 10vw;
}
#cubeLine-1 {
  background-color: #ffffff;
  transition: background-color 2s ease;
}
#cubeLine-2 {
  background-color: #a5a0a0;
  transition: background-color 2s ease;
}
.row-2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-2 div {
  width: 10vw;
  height: 10vw;
}
#cubeLine-3 {
  background-color: #777777;
  transition: background-color 2s ease;
}
#cubeLine-4 {
  background-color: #bdbdbd;
  transition: background-color 2s ease;
}
.row-3 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-3 div {
  width: 10vw;
  height: 10vw;
}
#cubeLine-5 {
  background-color: #949494;
}
#cubeLine-6 {
  background-color: #555555;
}
.row-4 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-4 div {
  width: 10vw;
  height: 10vw;
}
#cubeLine-7 {
  background-color: #333333;
  transition: background-color 2s ease;
}
#cubeLine-8 {
  background-color: #696969;
  transition: background-color 2s ease;
}
.row-5 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-5 div {
  width: 10vw;
  height: 10vw;
}
#cubeLine-9 {
  background-color: #494747;
  transition: background-color 2s ease;
}
#cubeLine-10 {
  background-color: #161616;
  transition: background-color 2s ease;
}
#cubeLine-1:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-2:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-3:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-4:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-5:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-6:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-7:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-8:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-9:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
#cubeLine-10:hover {
  transition: background-color 0.7s ease;
  background-color: #009667;
}
/* 14 */
.section-14 {
  margin-top: 0vw;
  width: 100vw;
  height: 18vw;
  background-color: #161616;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#h2-14-1 {
  margin-left: 10vw;
  color: #ffffff;
  transition: color 2s ease;
}
#h2-14-2 {
  margin-left: 6vw;
  color: #ffffff;
  transition: color 2s ease;
}
#h2-14-1:hover {
  transition: color 0.7s ease;
  color: #009667;
}
#h2-14-2:hover {
  transition: color 0.7s ease;
  color: #009667;
}
.imgS-14 {
  margin-left: 33vw;
  width: 20vw;
}
.imgS-14 img {
  width: 20vw;
}
